# Ignore folders
env/
dccd.egg-info/
dist/
build/
.ipynb_checkpoints/

# Ignore files
Exemple_excel_dccd.png
setup.cfg

# Ignore old scripts
dccd/dl_cc_data.py

# Ignore extensions
*.pyc

# Ignore cache
__pycache__/
.cache/
.pytest_cache/
