# Ignore folders
env/
dccd.egg-info/
dist/
build/
.ipynb_checkpoints/
logs/
old_scripts/

# Ignore files
Exemple_excel_dccd.png
setup.cfg

# Ignore extensions
*.pyc

# Ignore cache
__pycache__/
.cache/
.pytest_cache/
